body{
    background-image:linear-gradient(113deg,#ecc884 11%,#d48baa 80%);
}
.container{
    display:flex;
   margin: 5% 15%;
}
.box1{

    border: #ecc884;
    background-color: #ecc884;
    width: 300px;
    height: 500px;
    
}
.box1 h2{
    text-decoration:italic;
}
.box2{
  
    border: #f0f0f0;
    background-color: #f0f0f0;
    width: 400px;
}
.box2 h3{
    margin-left:50px ;
}
.box2 h4{
   margin-left: 50px; 
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.box2 .button {
    padding-left:900px;
    background: #55ACEE;
    color: white;
    margin-top: 5px;
  

 }
.fa-google {
    color: white;

}
.line{
    display: flex;
    stroke: width 1px;
}
.line-1 {
    margin-left:8px;
    stroke:1px;
}
.line-2{
    margin-right:150px;
}
.email{
    margin-left: 50px;
}
.email label{
 font-weight:bold;
 padding-top: 100%;
}
.email input {
    width: 100%;
    background-color: gray;
    border: none;
    padding:5px ;
    border-radius: 5px;
    margin-top: 100%;
    padding-top: 100%;
}
.password{
    margin-bottom:50px;
}
.password label{
    font-weight:bold;
}
.password input{
    width: 40%;
    background-color: gray;
    border: none;
    padding: 5px;
    border-radius: 5px;

}